<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>DPDP Privacy Assistant</title>

    <link rel="stylesheet"
          href="/static/style.css">

</head>

<body>

    <div class="container">

        <header>
            <h1>DPDP Privacy Assistant</h1>

            <p>
                AI-powered assistant for India's
                DPDP Act and related rules.
            </p>
        </header>

        <div id="chat-box"></div>

        <div class="input-area">

            <input type="text"
                   id="user-input"
                   placeholder="Ask about DPDP..." />

            <button onclick="sendMessage()">
                Send
            </button>

        </div>

    </div>

    <script src="/static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<footer>
    © 2026 utkarshpandey.com
</footer>
</body>

</html>